<!DOCTYPE html>
<html>
<head>
  <title>Diary Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 id="dateHeading"></h1>
  <div id="diary" contenteditable="true"></div> 

  <div class="buttons-container">
    <button id="submitBtn">Submit</button>
    <button id="summaryBtn">Summary</button>
    <button id="insightsBtn">Insights</button>
  </div>

  <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
