{% extends "base.html" %}
{% block title %}
Past entries
{% endblock %}

{% block content %}
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
    <div style="text-align: center; flex: 1;">
      <h5 id="dateHeading"></h5>
    </div>
  </div>

  <div style="text-align: left;">
    <div id="diary" contenteditable="true"></div>
  </div> 

  <div style="text-align: center;">
    <div class="buttons-container">
      <button id="submitBtn">Submit</button>
      <button id="summaryBtn">Summary</button>
      <button id="insightsBtn">Insights</button>
      <button id="quietBtn" class="quiet-button">Quiet</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

