	{% extends "base.html" %}

	{% block title %}Interactive Diary - Gagali{% endblock %}

	{% block content %}
	<main>
	<header>
		<h1>Interactive Diary</h1>
		<p>Your Personal Journal Assistant</p>
	</header>

	<div class="container">
		<section id="hero">
		<h2>Welcome to Your Happy Place</h2>
		<p>
			Experience the joy of journaling with Interactive Diary, your personal
			diary assistant that will put a smile on your face.
		</p>
		<p>
			Express yourself freely and openly, and our Chat-GPT technology will
			guide you with follow-up questions that will help you discover your true
			self. Dive deep into your thoughts and emotions, and celebrate every
			victory along the way!
		</p>
		<a href="/login" class="btn">Start Journaling Now!</a>
		</section>

		<section id="video-demo">
		<h2>See Interactive Diary in Action</h2>
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/DFchd0x9MQs" frameborder="0" allowfullscreen></iframe>
		</div>
		</section>

		<section id="screenshot">
		<img
			src="https://i.imgur.com/D8CoAEd.png"
			alt="Interactive Diary Screenshot"
		/>
		</section>
	</div>
	</main>
	{% endblock %}
